<div class="modal-header rentGreen">
    <h4 class="modal-title">Create Profile <i class="fas fa-info-circle info-icon" (click)="askInfo()"></i></h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="this.activeModal.dismiss()"></button>
  </div>
  <div class="modal-body bg-light text-dark">
    <div class="row">
        <div class="col-md-8">
          <div class="container">
            <form [formGroup]="companyForm">
              
              <label class="for-label">Company Name</label> 
              <input type="text" name="name" class="form-control" formControlName="name">
              <p *ngIf="info">Please enter a valid name</p>

              <label class="for-label">Company Location</label>
              <input type="text" name="city" class="form-control" formControlName="city">
              <p *ngIf="info">Please enter a valid city</p>

              <label class="for-label">Company Address</label>
              <input type="text" name="address" class="form-control" formControlName="address">
              <p *ngIf="info">Please enter a valid address</p>

              <label class="for-label">Phone Number</label>
              <input type="text" name="phoneNumber" class="form-control" formControlName="phoneNumber">
              <p *ngIf="info || showMessage(companyForm, 'phoneNumber')">Please enter a valid phone number (10 digits)</p>

              <label class="for-label">E-Mail</label>
              <input type="email" name="eMail" class="form-control" formControlName="eMail">
              <p *ngIf="info || showMessage(companyForm, 'eMail')">Please enter a valid e-mail (name@domain.com)</p>

            </form>
          </div>
        
        
        </div>
      </div>
  </div>
  <div class="modal-footer bg-light">
    <button type="button" class="btn btn-outline-dark" (click)="this.activeModal.dismiss()" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-outline-dark" [disabled]="companyForm.invalid" (click)="createProfile()" data-bs-dismiss="modal">Create</button>
  </div>