.modal-header {
    border-bottom: 1px solid #ddd;
  }
  
  .modal-body {
    padding: 20px;
  }
  
  .modal-footer {
    border-top: 1px solid #ddd;
    padding: 10px 20px;
  }

  ::ng-deep .mat-tooltip.matTooltipTallHeaderCell {
    position: relative;
    left: -0.75rem;
    top: -3rem;
  }