
<div class="page">
   <div class="container">
      <form [formGroup]="carForm">
         <div class="row"></div>
         <div class="row mt-3">
            <div class="col-md-6">  
               <mat-form-field>
                  <mat-label>Name</mat-label>
                  <input matInput #input placeholder="Ex. Mercedes" type="text" name="name" class="form-control" formControlName="name">
                </mat-form-field> 
            </div>
            <div class="col-md-6">
               <mat-form-field>
                  <mat-label>Brand</mat-label>
                  <input matInput #input placeholder="Ex. C Classe" type="text" name="model" class="form-control" formControlName="model">
                </mat-form-field> 
            </div>
        </div>
         
       
         <div class="row mt-3">
            <div class="col-md-2">
               <mat-form-field>
                  <mat-label>Horsepower</mat-label>
                  <input matInput #input placeholder="Ex. 100" type="text" name="horsepower" class="form-control" formControlName="horsepower">
                </mat-form-field> 
            </div>
            <div class="col-md-2">
               <mat-form-field>
                  <mat-label>Engine Capacity</mat-label>
                  <input matInput #input placeholder="Ex. 2.0" type="text" name="engineCapacity" class="form-control" formControlName="engineCapacity">
                </mat-form-field> 
            </div>
            <div class="col-md-3">
               <label>Engine</label> 
               <select formControlName="engine" name="engine" id="engine"  class="form-control">
                  <option value="" disabled selected>Select engine type</option>
                  <option *ngFor="let options of getEngineOptions(); trackBy:identify" [value]="options.value">{{ options.label}}</option>
               </select>   
            </div>
            <div class="col-md-3">
               <label>Type</label> 
               <select formControlName="type" id="type" class="form-control">
                  <option value="" disabled selected>Select a car type</option>
                  <option *ngFor="let options of getCarTypeOptions(); trackBy:identify" [value]="options.value"  >{{ options.label}}</option>
               </select> 
            </div>
         </div>
         <div class="row mt-3">
            <div class="col-md-3">
               <label>Doors Number</label> 
               <select formControlName="doorsNr" id="doorsNr" class="form-control">
                  <option value="" disabled selected>Select doors number</option>
                  <option *ngFor="let options of getDoorsOptions(); trackBy:identify" [value]="options.value">{{ options.label}}</option>
               </select>
            </div>
            <div class="col-md-3">
               <label>Gearbox</label> 
               <select formControlName="gearboxType" id="gearboxType" class="form-control">
                  <option value="" disabled selected>Select gearbox type</option>
                  <option *ngFor="let options of getGearboxTypeOptions(); trackBy:identify" [value]="options.value">{{ options.label}}</option>
               </select>
            </div>
            <div class="col-md-3">
              <mat-form-field>
                  <mat-label>Year</mat-label>
                  <input matInput #input placeholder="Ex. 2014" type="text" name="year" class="form-control" formControlName="year">
                </mat-form-field> 
            </div>
            <div class="col-md-3">
               <mat-form-field>
                  <mat-label>Price</mat-label>
                  <input matInput #input placeholder="Ex. 2.0" type="text" name="pricePerDay" class="form-control" formControlName="pricePerDay">
                </mat-form-field> 
            </div>
         </div>
         <div class="row mt-3" style="height: 300px;">
           <!-- <input type="file" (change)="uploadPicture($event)"  accept="image/*"/>-->
            <div class="mb-3">
               <label for="formFile" class="form-label">Add Photos</label>   <span class="ml-3"><i class="fas fa-info-circle info-icon" (click)="askInfo()"></i></span>
               <input [disabled]="carForm.get('photos')!.value.length > 5" class="form-control" type="file" (change)="uploadPicture($event)" id="formFile"  accept="image/*">
               <p *ngIf="info">Add maximum 5 pictures per car announcement, drag and drop the photos in the way you want to see them in the homepage. Remove photo if needed</p>
             </div>
            <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="onDrop($event)">
               <div  *ngFor="let photo of carForm.get('photos')!.value; let i = index">
                  <div class="example-box" cdkDrag  class="photo-item">
                     <div class="actions"><i (click)="removePic(photo)" class="fa-solid fa-x"></i></div>
                     <img [src]="photo" alt="Photo {{i + 1}}" class="photo-preview"/> 
                  </div>
               </div>
             </div>
            </div>
            <div class="row mt-1 justify-content-center" style="height: 50px;">
               <button [disabled]="!this.carForm.valid" type="button" style="width: 80%;" class="btn btn-primary" (click)="addCar()">add car</button>
            </div>

      </form>
   
   </div>
</div>
