<form [formGroup]="carForm">
   <label>name</label> <input type="text" name="name" class="form-control" formControlName="name">
   <label>brand </label> <input type="text" name="brand" class="form-control" formControlName="brand">
   <label>year </label> <input type="text" name="year" class="form-control" formControlName="year">
   <label>horsepower </label> <input type="text" name="horsepower" class="form-control" formControlName="horsepower">

   <label>price </label> <input type="text" name="pricePerDay" class="form-control" formControlName="pricePerDay">
   <label>Engine</label> 
   <select formControlName="engine" name="engine" id="engine"  class="form-control">
      <option value="" disabled selected>Select engine type</option>
      <option *ngFor="let options of getEngineOptions(); trackBy:identify" [value]="options.value">{{ options.label}}</option>
   </select>
   <label>Type</label> 
   <select formControlName="type" id="type" class="form-control">
      <option value="" disabled selected>Select a car type</option>
      <option *ngFor="let options of getCarTypeOptions(); trackBy:identify" [value]="options.value"  >{{ options.label}}</option>
   </select>
   <label>Doors Number</label> 
   <select formControlName="doorsNr" id="doorsNr" class="form-control">
      <option value="" disabled selected>Select doors number</option>
      <option *ngFor="let options of getDoorsOptions(); trackBy:identify" [value]="options.value">{{ options.label}}</option>
   </select>
   <label>Gearbox</label> 
   <select formControlName="gearboxType" id="gearboxType" class="form-control">
      <option value="" disabled selected>Select gerbox type</option>
      <option *ngFor="let options of getGearboxTypeOptions(); trackBy:identify" [value]="options.value">{{ options.label}}</option>
   </select>
   <input type="file" class="file-upload" (change)="uploadPicture($event)" multiple>
   <button (click)="addCar()">add car</button>
</form>