.rentGreen {
    background-color: rgb(38, 213, 134);
}

.custom-btn {
    color: aliceblue;
    background-color: rgb(38, 213, 134);
    /*background-color: darkgray;*/
  }

.background-image{
    width: 100%;
    height: 100vh;
    background-image: url('../assets/images/bmws.jpg');
    background-size: cover;
    background-position: center;
}




    /*.navbar {
        width: 100%;
        z-index: 1000; 
      }

      .fixed-top {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
      }*/