<!--<div *ngIf="loggedIn">
    <p>Welcome</p>

    <button (click)="logOff()">Log Off</button>
    <button (click)="getUser()">get user</button>
</div>

<div *ngIf="!loggedIn">
    <p *ngIf="!loggedIn">please login</p>
</div>-->

<div *ngIf="cars.length == 0">
  <p>no cars available, please try again later</p>
</div>

<div *ngIf="cars.length > 0">
  <table>
    <thead>
      <tr>
        <th>Car Name</th>
        <th>Price</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars">
        <td>{{ car.name }}</td>
        <td>{{car.pricePerDay}}</td>
        <td><button (click)="openResModal(this.car)">add reservation</button></td>
      </tr>
      
    </tbody>
  </table>
  
</div>


