@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";



.container {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    background-color: lightgray;
  }
  
  .left, .middle, .right {
    height: 100%;
    width: 100%;
  }
  
  .left {
    width: 25%;
    /*background-color: darkgray;*/
  }
  
  .middle {
    width: 25%;
    /*background-color: lightgreen;*/
  }
  
  .right {
    width: 50%;
    /*background-color: lightcoral;*/
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    
    .left, .middle, .right {
      width: 100%;
    }
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }

  .title h5 {
    margin-right: 10px;
}

.title h5 span {
    display: flex;
    align-items: center; /* Align items vertically in the center */
  }

  .content input[type="text"] {
    width: calc(100% - 20px);
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 10px; /* Adjust margin-top to create space between title and input */
  }

  .example-card {
    max-width:100%;
  }

  .image-container {
    max-width: 100%;
    max-height: 300px; /* Adjust the height as needed */
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }

  .dropdown{
    margin-top: 10px;
  }
  .filterDrop {
    max-width: 50%;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .filterBtn {
    display: flex;
    justify-content: center;
  }




  