<div class="container mt-5">
    <h2>Registration</h2>
    <form #userForm="ngForm">
      <div class="mb-3">
        <label for="email" class="form-label">Username</label>
        <input type="email" class="form-control" id="email" placeholder="username" [(ngModel)]="user.userName" name="email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="user.password" name="password">
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword"
        [(ngModel)]="confirmPass"
        placeholder="Confirm Password"
        name="confirmPassword">
      </div>
      <div class="mb-3">
        <label>
          <input type="radio" name="registrationType" (change)="selectCompany()" value="company">
          I want to register as company
      </label>
      <br>
      <label>
          <input type="radio" name="registrationType" (change)="selectCustomer()" value="customer">
          I want to register as customer
      </label>
      </div>
      <button type="submit" class="btn rentGreen custom-btn" (click)="register()">Register</button>
    </form>

    
  </div>


  

  