<mat-card>
  
    <mat-card-header>
      <div>
        {{car.name}} {{car.model}}
      </div>
      <div>
        <button style="position: absolute; top: 0; right: 0;" mat-icon-button (click)="closeDetails()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
       
    </mat-card-header>
   
    <mat-card-content>
      <div>
         <ngb-carousel  *ngIf="car.photos.length > 0">
            <ng-template ngbSlide *ngFor="let photo of car.photos; let i = index">
              <div class="picsum-img-wrapper" >
                <img [src]="photo.photo" alt="Random first slide" />
              </div>
            </ng-template>
          </ngb-carousel>
          <ngb-carousel *ngIf="car.photos.length == 0">
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper" >
                <img src="..\assets\images\no-image-available.webp" />
              </div>
             </ng-template>
          </ngb-carousel>
      </div>


     


   
 

<!--
      <label>Select pick up address in {{car.city}}</label>
      <input placeholder="address">
      <div>
        map address
      </div>

  
    

      <label>Select drop off up address in {{car.city}}</label>
      <input placeholder="address">
      <div>
        map address
      </div>-->

      <div class="row mt-2 mb-2">
        <div class="col md-3"></div>
        <div class="col">      <button mat-raised-button style="width: 100%;" color="warn" (click)="openResModal(this.car)">Add Reservation</button>
        </div>
        <div class="col md-3"></div>
      </div>





    </mat-card-content>

    <mat-card-footer>

    </mat-card-footer>
</mat-card>