<div class="modal-header">
   <p> Rent this {{car.name}} {{car.model}} for {{car.pricePerDay}} daily</p>
</div>
<div class="modal-body">
    <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker" [dateFilter]="notAvailable" [min]="todayDate">
          <input matStartDate formControlName="start" placeholder="Start date"  >
          <input matEndDate formControlName="end" placeholder="End date" >
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
     </mat-form-field>
     <div *ngIf="range.valid">
      <div class="row mt-2">
         <p>Select pick up time</p>
         <ngb-timepicker [(ngModel)]="pickUptime"/>
      </div>
     
      <div class="row mt-2">
         <p>Select drop off time</p>
         <ngb-timepicker [(ngModel)]="dropOfftime" />
     </div>
     </div>
    
</div>

<div class="modal-footer">
   <p *ngIf="range.valid">your price will be {{ calculateTotalPrice() }}</p>
   <button mat-flat-button color="primary" [disabled]="!range.valid || isTimeInPast(pickUptime)" (click)="save()">Reserve</button>
   <p *ngIf="isTimeInPast(pickUptime)">All reservations should be scheduled at least two hours ahead from the current time.</p>
</div>

  



