<div class="modal-header">
    header
</div>
<div class="modal-body">
    <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker" [dateFilter]="sundayFilter" [min]="todayDate">
          <input matStartDate formControlName="start" placeholder="Start date"  >
          <input matEndDate formControlName="end" placeholder="End date" >
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
     </mat-form-field>

     

</div>

<div class="modal-footer">
    <button mat-flat-button color="primary" [disabled]="!range.valid" (click)="save()">Reserve</button>

</div>

  



