
  <div *ngIf="isLoading">
   <app-loader-component></app-loader-component>
  </div>

<div *ngIf="!isLoading">
    <div *ngIf="!company" class="profile-not-created">
      <noProfile-component></noProfile-component>
    </div>
 


    <div *ngIf="company" class="content">
  <div class="row">
    <div class="col col-md-3">
      <div class="profile-container">
        <div class= "profile-info d-flex justify-content-center align-items-center">
          <div>
           <table class="company-table">
              <tr>
                <td><label>Name:</label></td>
                <td>{{ company!.name }}</td>
              </tr>
              <tr>
                <td><label>Location:</label></td>
                <td>{{ company!.city }}</td>
              </tr>
              <tr>
                <td><label>Address:</label></td>
                <td>{{ company!.address }}</td>
              </tr>
              <tr>
                <td><label>Email:</label></td>
                <td>{{ company!.eMail }}</td>
              </tr>
              <tr>
                <td><label>Phone Number:</label></td>
                <td>{{ company!.phoneNumber }}</td>
              </tr>
              <tr>
                <td><label>Rating:</label></td>
                <td>{{ company!.rating }} <span><ngb-rating [max]="5" [(rate)]="company.rating" [readonly]="true"></ngb-rating></span></td>
              </tr>
              <tr>
                <td><label></label></td>
                <td><button routerLink="/add-car" class="contentButton">Add car</button></td>
              </tr>
            </table>
            
          </div>
          
        </div>
       
      </div>
    </div>
    <div class="col col-md-9">
      <div *ngIf="company.cars.length == 0">
        <p>you have no cars, please add</p>
      </div>

      <div *ngIf="company.cars.length > 0">
        <div class="cars-section">
         
          <table mat-table [dataSource]="company.cars" class="mat-elevation-z8">
            
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Car Name </th>
              <td mat-cell *matCellDef="let car"> {{ car.name }} </td>
            </ng-container>

            <ng-container matColumnDef="model">
              <th mat-header-cell *matHeaderCellDef> Model </th>
              <td mat-cell *matCellDef="let car"> {{ car.model }} </td>
            </ng-container>
          
            <ng-container matColumnDef="pricePerDay">
              <th mat-header-cell *matHeaderCellDef> Price </th>
              <td mat-cell *matCellDef="let car"> {{ car.pricePerDay }} </td>
            </ng-container>
          
            <ng-container matColumnDef="engine">
              <th mat-header-cell *matHeaderCellDef> Engine </th>
              <td mat-cell *matCellDef="let car"> {{ Engine[car.engine] }} </td>
            </ng-container>
          
            <ng-container matColumnDef="doorsNr">
              <th mat-header-cell *matHeaderCellDef> Doors </th>
              <td mat-cell *matCellDef="let car"> {{ DorsNr[car.doorsNr] }} </td>
            </ng-container>
          
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef> Type </th>
              <td mat-cell *matCellDef="let car"> {{ CarType[car.type] }} </td>
            </ng-container>
          
            <ng-container matColumnDef="gearboxType">
              <th mat-header-cell *matHeaderCellDef> Gearbox </th>
              <td mat-cell *matCellDef="let car"> {{ GearboxType[car.gearboxType] }} </td>
            </ng-container>
          
            <ng-container matColumnDef="reservations">
              <th mat-header-cell *matHeaderCellDef> Reservations </th>
              <td mat-cell *matCellDef="let car">
                <div *ngIf="car.reservations.length > 0">
                  <button mat-button class="resBtn" (click)="openReservationModal(car.reservations)">Manage</button>
                </div>
                <div *ngIf="car.reservations.length === 0">
                  No reservations
                </div>
              </td>
            </ng-container>

          
            <!-- Header row -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          
            <!-- Data row -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>

          </table>
          

        </div>
      </div>
      
    </div>
  </div>

  






    


    </div>
</div>
    

   