
 <div *ngIf="!company" class="profile-not-created">
    <p>You have not created a profile, please submit this form</p>
    <button (click)="openModal()">create profile</button>
 </div>
 
 <div *ngIf="company">
            <label>Name:</label><p>{{company!.name}}</p>
            <label>Location:</label><p>{{company!.city}}</p>
            <label>Rating:</label><p>{{company!.rating}}</p>
            <label>Cars:</label>
            <table>
              <thead>
                <tr>
                  <th>Car Name</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let car of company!.cars">
                  <td>{{ car.name }}</td>
                  <td>{{ car.pricePerDay }}</td>
                </tr>
              </tbody>
            </table>
            <!--<button (click)="openCarModal()">Add Cars</button>-->
</div>

<!--<div>
  <label>add adress</label>
  <input type="string" [(ngModel)]="address">
  <button (click)="createMap()">create map</button>
  
</div>-->
          
        
       

