.profile-not-created {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
    margin: 20px auto;
    text-align: center;
    width: 50%;
  }
  
  .profile-not-created p {
    font-size: 16px;
    color: #333;
  }
  
  .profile-not-created button {
    background-color: rgb(38, 213, 134);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .profile-not-created button:hover {
    background-color: #2aae6e;
  }


  .content{
    margin-top: 20px;
   
  }

  .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .profile-info {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
  }

  .contentButton{
    background-color: #b9b1b1;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
  }

  table{
    border-spacing: 10px;
    border-collapse: separate;
  }

  table td {
    font-family: sans-serif;
  }

  table td label{
    font-weight: bold;
  }

  ngb-rating {
    color: #FFC107;
    
  }

 
  
  ::ng-deep .resModal .modal-content .modal-body { height: 400px; } 

  .resBtn:hover{
    /*color: aquamarine;*/
    background-color: #2aae6e;
  }
  
  
  
  
 
  
  
  